# ---------------------------------- Nginx --------------------------------- #
PWA_NGINX__PORT=80
# ---------------------------- PWA Blog Backend ---------------------------- #
PWA_BACKEND__LOG_LEVEL=log
PWA_BACKEND__MONGODB_CONNECTION_URL=mongodb://mongo:27017/pwa-blog
